header{
  background-color:darkslateblue;
  color:lavenderblush;
  text-align: center;\

}
body{

  background-image: url(record.png);
  background-repeat: repeat;
  margin: 0px;

}

main{
  padding: 1em;
  background-color: lightgrey;

}
